<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <your_integration>
            <general>
                <enabled>1</enabled>
                <content_language>en</content_language>
                <api_base_url>https://61c3-2a02-a457-a280-1-7141-5e5b-b04d-3b47.ngrok-free.app</api_base_url>
            </general>
        </your_integration>
    </default>
</config>
