<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Webapi\Rest\Response\Renderer\Json">
        <plugin name="your_integration_framework_webapi_rest_response_renderer_json" type="Your\Integration\Plugin\Framework\WebApi\JsonRenderer"/>
    </type>
    <preference for="Your\Integration\Api\ApiProxyInterface" type="Your\Integration\Model\ApiProxy"/>
</config>
